*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h1{
  font-style: italic;
  position:relative;
  left:550px
}
h2{
  font-style: italic;
  position:relative;
  left:600px
}
.login_box{
  position:relative;
  top:50px;
  left:580px;
  width:350px;
  height:300px;
  background-color:rgba(56,8,159,0.8);
  padding:10px;
  border-radius: 20px;
}
.fromLogin{
  padding:50px;
}
input{
  padding:5px;
}
.userid{
  padding:15px;
  position: relative;
  right:7px;
   font-weight:700;
   color:rgb(253, 253, 253);

}
.pass{
  font-weight: 700;
  position: relative;
  left:7px;
  color:rgb(253, 253, 253);
}
.but1{
  position: relative;
  top:50px;
  left:200px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(253, 253, 253);
  border-radius: 20px;
  background-color:rgb(74, 40, 147);
  padding: 6px;
}

/*.......................................sign_up css part.............................*/
.Register_box{
  position:relative;
  top:50px;
  left:580px;
  width:350px;
  height:300px;
  background-color:rgba(56,8,159,0.8);
  padding:10px;
  border-radius: 20px;
}
.fromregister{
  padding:50px;
  position: relative;
  bottom:50px;
  left:30px
}
.Name{
  padding:10px;
  position: relative;
  right:30px;
   font-weight:700;
   color:rgb(253, 253, 253);

}
.Email{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:30px;
  color:rgb(253, 253, 253);
}
.radio{
  padding: 10px;
}
.regbut{
  position: relative;
  top:20px;
  left:180px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(253, 253, 253);
  border-radius: 20px;
  background-color:rgb(74, 40, 147);
  padding: 6px;
}
/*.......................Student Register From css.................................*/
.Student_box{
  position:relative;
  top:50px;
  left:580px;
  width:400px;
  height:310px;
  background-color:rgba(56,8,159,0.8);
  padding:10px;
  border-radius: 20px;
}
.fromStudent{
  padding:30px;
}
.studName{
  padding:10px;
  position: relative;
  left:38px;
   font-weight:700;
   color:rgb(253, 253, 253);

}
.studEmail{
  font-weight: 700;
  position: relative;
  left:47px;
  color:rgb(253, 253, 253);
}
.studPhone{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:10px;
  color:rgb(253, 253, 253);
}
.studYear{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:10px;
  color:rgb(253, 253, 253);
}
.studBranch{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:10px;
  color:rgb(253, 253, 253); 
}
.studBut{
  position: relative;
  top:20px;
  left:200px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(253, 253, 253);
  border-radius: 20px;
  background-color:rgb(74, 40, 147);
  padding: 6px;
}

/*..........................Tutor Register From..............................*/
.Tutor_box{
  position:relative;
  top:50px;
  left:580px;
  width:400px;
  height:310px;
  background-color:rgba(56,8,159,0.8);
  padding:10px;
  border-radius: 20px;
}
.fromTutor{
  padding:30px;
}
.tutName{
  padding:10px;
  position: relative;
  left:38px;
   font-weight:700;
   color:rgb(253, 253, 253);

}
.tutEmail{
  font-weight: 700;
  position: relative;
  left:47px;
  color:rgb(253, 253, 253);
}
.tutPhone{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:10px;
  color:rgb(253, 253, 253);
}
.tutDepart{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:10px;
  color:rgb(253, 253, 253);
}
.tutbio{
  padding:10px;
  font-weight: 700;
  position: relative;
  right:10px;
  color:rgb(253, 253, 253); 
}
.tutBut{
  position: relative;
  top:20px;
  left:200px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(253, 253, 253);
  border-radius: 20px;
  background-color:rgb(74, 40, 147);
  padding: 6px;
}